
<div class="question">
  <div><%= @question %></div>
  <div><em>-You</em></div>
</div>

<div class="question answer">
  <div><%= @answer %></div>
  <div><em>-Your coach</em></div>
</div>

<%= link_to "Ask another question", ask_path %>
