<h3>Hey, I'm your coach, ask me anything !</h3>
<form action="/answer">
  <input type="text" name="question" class="input", placeholder="Your question here">
  <input type="submit" value="Ask!" class="btn">
</form>
